@using hotelv2.Models
@model List<EmpleadoCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].idEmpleado)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].apellido_pat)</td>
            <td>@Html.LabelFor(p => Model[0].apellido_mat)</td>
            <td>@Html.LabelFor(p => Model[0].sexo)</td>
            <td>@Html.LabelFor(p => Model[0].telefono)</td>
            <td>@Html.LabelFor(p => Model[0].correo)</td>
            <td>@Html.LabelFor(p => Model[0].rfc)</td>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.idEmpleado</td>
            <td>@item.nombre</td>
            <td>@item.apellido_pat</td>
            <td>@item.apellido_mat</td>
            <td>@item.sexo</td>
            <td>@item.telefono</td>
            <td>@item.correo</td>
            <td>@item.rfc</td>
         </tr>
    }

    <tbody>
    </tbody>
</table>