@model hotelv3.Models.consumo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de Consumo</h2>

<div>
    <h4>consumo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicio.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicio.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idConsumo }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
