@model hotelv3.Models.factura

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreEmisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telEmisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telEmisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumo.idConsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumo.idConsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registro.idHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registro.idHabitacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
