@model hotelv3.Models.factura

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la Factura</h2>

<div class="jumbotron">
    <h4>factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numFactura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nombreEmisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telEmisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telEmisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumo.idConsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumo.idConsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.huesped.apellido_pat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.apellido_pat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.fecha_nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.fecha_nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.lugar_nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.lugar_nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.tel_casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.tel_casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.tel_celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.tel_celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huesped.rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huesped.rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registro.idHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registro.idHabitacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.numFactura }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
